doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title HTML CODING LIST
        link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
        style(type='text/css').
            @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
            html , body{
                width: 100%;
                height: 100%;
            }

            .wrapper{
                width: 100%;
            }

            .utilbox{
                width: 100%;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                background:rgba(255,255,255,0.9);
            }

            .utilbox.fixed{
                box-shadow: 0 0 15px rgba(0,0,0,0.56)
            }

            .utilbox .button_area{
                display:none;
                padding: 0 10px 10px;
                text-align: center;
            }
            
            .utilbox.fixed .button_area{
            }

            .button_area .btn-ctm{
                height:auto;
                padding:13px 15px;
                margin: 0 5px;
                display: inline-block;
                background:#ddd;
                font:13px 'Noto Sans Kr';
                text-decoration:none;
            }
            
            .button_area .btn-ctm#submit-data{
                display:none;
            }
            
            .utilbox.fixed .search_area{
                padding:10px;
            }
            
            .utilbox.fixed .search_area::before{
                top: 11px;
                left: 13px;
            }
            
            .utilbox.fixed .button_area{
                text-align:right;
            }
            
            .utilbox.fixed .button_area .btn-ctm{
                padding:8px 10px;
            }

            .button_area .btn-ctm span{
                font-size: 12px;
                line-height:12px;
            }

            .btn-ctm.disable{
                background: #ddd;
                cursor: default;
            }

            .search_area{
                position:relative;
                padding: 15px;
            }
            
            .search_area::before{
                content:'';
                display:block;
                width: 28px;
                height: 32px;
                position: absolute;
                top: 16px;
                left: 20px;
                background:url('//image.adidas.co.kr/images/adidas/common/adidas_spirite.png') -110px -1250px;
            }

            .search_area input{
                width: 100%;
                height: 35px;
                padding-left: 35px;
                font: 500 13px/35px 'NotoSansKR';
                color: #000;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            .wrapper .title{
                padding: 15px 0;
                text-align: center;
                background: #ccc;
                font:700 13px 'Noto Sans KR';
            }

            .wrapper .col_box{
                padding:10px;
                border-bottom: 1px dashed  #ddd;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            
            .wrapper .col_box.on{
                background:#ccc;
            }

            .wrapper .col_box.dir_col{
                padding: 5px 10px;
                border-bottom:1px solid #ddd;
                background: #eee;
            }

            .wrapper .col_box:last-child{
                border-bottom-width: 0;
            }

            .wrapper .col_box ul{
                /*display: -webkit-flex;
                display: -ms-flex;
                display: flex;*/
                /*padding: 10px;*/

            }

            .wrapper .col_box ul li{
                /*padding: 10px 0;*/
            }

            .wrapper .col_box ul li.name{
                min-height: 25px;
                background:url('/images/ico-html.gif') 0 3px no-repeat;
                -webkit-background-size: 10px auto;
                background-size: 10px auto;
                padding: 0 0 0 19px;
                font:500 12px 'Noto Sans KR';
            }

            .wrapper .col_box ul li.name.dir{
                background:url('/images/ico-folder.png') 0 5px no-repeat;
                -webkit-background-size: 14px auto;
                background-size: 14px auto;
            }

            .wrapper .col_box ul li.name a{
                color: #1313af;
            }

            .wrapper .col_box ul li.name a:hover{
                text-decoration: underline;
            }

            .wrapper .col_box ul li.desc{
                width: 100%;
                font:700 12px/17px 'Noto Sans KR';
                color: #222;
            }

            .wrapper .col_box ul li.modify{
                height: 0;
                margin-top: 10px;
                overflow: hidden;
                transition: height 0.2s;
                -webkit-transition: height 0.2s;
            }

            .edit-mode .wrapper .col_box ul li.modify{
                height: 35px;
            }

            .wrapper .col_box ul li.modify input{
                width: 100%;
                height: 35px;
                padding-left: 10px;
                font:500 13px 'NotoSansKR';
                color: #000;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            #wrapper{
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
            }

            #wrapper #left-area{
                width: 360px;
                height: 100%;
                padding-top: 125px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                overflow: auto;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            #wrapper #right-area{
                width: 100%;
                height: 100%;
                position: relative;
                padding-left: 360px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            #wrapper #right-area .inner{
                width: 100%;
                height: 100%;
                position: relative;
                border-left: 1px solid  #ddd;
            }

            #wrapper #right-area .inner iframe{
                width: 100%;
                height: 100%;
                border-width: 0;
                opacity:0;
                transition:opacity 0.3s; 
                -webkit-transition:opacity 0.3s;
            }
            
            #wrapper #right-area .inner iframe.loaded{
                opacity:1;
            }

            #dragHandle{
                width: 10px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                cursor: w-resize;
            }

            #dragHandleCover{
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
            }
            
            .wrapper .search_result .col_box{
            
            }
            
            .wrapper .search_result .search_title{
                color: #333;
                font: 16px 'NotoSansKR';
                text-align: center;
                padding: 10px 0;
            }
            
            .wrapper .search_result .col_box .keyword{
                background:yellow;
                font-weight:bold;
            }
            
            .loading-container{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 250;
                background:rgba(0,0,0,0.5);

            }

            .loading-container .loader-icon{
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                border: 5px solid rgba(255,255,255,0.7);
                border-top: 5px solid rgba(0,0,0,0.1);
                border-radius: 50%;
                margin: -1rem -0px 0 -1rem;

                animation: loading 2s linear infinite;
                -webkit-animation: loading 2s linear infinite;
            }
            
            @keyframes loading{
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            @-webkit-keyframes loading{
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
            }
            
            

        script(type='text/javascript' src='//code.jquery.com/jquery-1.12.4.min.js')


    body
        input(type='hidden' id='jsonfile_path' value='#{filePath}')
        input(type='hidden' id='jsonfile_name' value='#{fileName}')
            
        div#wrapper
            div#left-area
                div.wrapper
                    div.utilbox
                        div.search_area
                            input#search-html(type='text' placeholder="검색")
                        div.button_area
                            a#toggle-mode.btn-ctm(href='javascript:void(0)')
                                span EDIT MODE
                            a#submit-data.btn-ctm.disable(href='javascript:void(0)')
                                span 저장하기
                    div#coding-list
                    
                    
            div#right-area
                div.inner
                    div#dragHandle
                    //- iframe#content-iframe(width='100%' height='100%')
                    
                    
                    
            script(type='text/javascript').
                const absPath = '/public/html/';
                const jsonfilePath = document.getElementById('jsonfile_path').value;
                const jsonfileName = document.getElementById('jsonfile_name').value;
                let depth = 1;
                let curCategory = 'root';
                let htmlData = {};
                
                const getDataForRender = key => {
                    let newData = getObjChildDirectory(key);
                    newData.push(htmlData[key]);
                    return newData;
                }
                
                const getObjChildDirectory = path => {
                    var key,
                        newObj = [],
                        i = 0,
                        count = 0;
                
                    for(key in htmlData){
                        const objPath = key.split('___');
                        const targetPath = typeof path === 'string' ? path.split('___') : path;
                
                        if(key === targetPath.join('___')){
                            continue;
                        }
                
                        /* 바로 밑에 폴더만 찾는다. */
                        if(htmlData[key].depth - 1 ==  targetPath.length){
                            /* Reassign i as 0 */
                            i = 0;
                
                            for(; i < targetPath.length; i++){
                                if(objPath[i] == targetPath[i]){
                                    count++;
                                }else{
                                    count = 0;
                                    continue;
                                }
                
                                if(count == targetPath.length){
                                    newObj.push(key);
                                    count = 0 ;
                                    continue;
                                }
                            }
                        }
                    }
                
                
                    return newObj;
                
                };
                
                const setHash = event =>{
                    let hash = location.hash.replace(/#/,'');
                    if(hash == ''){
                        hash = 'root';
                    }
                    
                    const hasObj = getBooleanByKey(hash);
                    
                    if(hasObj){
                        //- renderHTML(getDataForRender(hash));
                        console.log(htmlData[hash]);
                        renderHTML(htmlData[hash]);
                    }else{
                        renderHTML(false);
                    }
                    
                    $('#search-html').val('');
                    $('#submit-data').hide();
                    $('#toggle-mode').removeClass('edit').find('span').text('수정 하기');
                    $('#wrapper').removeClass('edit-mode');
                    
                };
                
                
                const getBooleanByKey = key =>{
                    for(obj in htmlData){
                        if(key == obj){
                            return true;
                        }
                    }
                    
                    return false;
                };
                
                window.addEventListener('hashchange',setHash);
                
                const changeContets = (htmlPath , obj) => {
                    
                    $('#right-area .inner #content-iframe').remove();
                    $('#right-area .inner .loading-container').remove();
                    $('#right-area .inner').append('<div class="loading-container"><div class="loader-icon"></div></div>');
                    $('#right-area .inner').append('<iframe id="content-iframe" width="100%" height="100%"></iframe>');
                    document.getElementById('content-iframe').onload = event =>{
                        $('#right-area .inner .loading-container').remove();
                        event.currentTarget.className = 'loaded';                
                    }

                    document.getElementById('content-iframe').setAttribute('src',htmlPath);
                    $('#left-area').find('.col_box').removeClass('on');
                    $(obj).parent().parent().parent().addClass('on');
                };
                
                const handleData = obj => {
                    for(let key in obj){
                        const splitKey = key.replace(/root/,'/').split('___');
                        obj[key].depth = splitKey.length;
                        splitKey.splice(splitKey.length-1);
                        obj[key].parentDir = splitKey;
                    }
                
                    return obj;
                };
                
                const submitInfo = () => {
                    var data = {
                        htmlList : htmlData,
                        //- targetPath : '/app/data/codingList/'+brandName+'/',
                        targetPath : '/public/data/'
                    };
                
                
                    $.ajax({
                        type: 'POST',
                        url: '/modifyHtmlJson',
                        data: data,
                        beforeSend : function(){
                            $('body').append('<div id="loading" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:100;background:rgba(255,255,255,0.7)"><span style="position:absolute;top:50%;left:50%;width:100px;height:30px;font-size:12px;line-height:30px;margin:-15px 0 0 -50px;text-align:center;">Loading...</span></div>')
                        },
                        success:function(result){
                            $('#loading').remove();
                            renderHTML(htmlData[curCategory]);
                        },
                        error:function(e){
                            $('#loading').remove();
                            $('#wrapper').removeClass('edit-mode');
                            setHash();
                        },
                        dataType : 'json',
                    });
                
                    return false;
                };
                
                const bindEvent = () => {
                    var inputArray = [...document.querySelectorAll('.col_box input[type="text"]')];
                    var dirArray = [...document.querySelectorAll('.name.dir>a')];
                
                    inputArray.map(value => {
                        value.addEventListener('keyup',event =>{
                            var elem = event.currentTarget;
                            var key = elem.dataset.key;
                            var index = elem.dataset.index;
                        
                            if(elem.dataset.isdir == 'true'){                                
                                htmlData[elem.getAttribute('id')].desc = event.target.value.replace(/"/,'\"');
                                htmlData[key]['folderData'][index].desc = event.target.value.replace(/"/,'\"');
                            }else{
                                htmlData[key]['htmlData'][index].desc = event.target.value.replace(/"/,'\"');
                            }
                            
                        });
                    });
                
                    dirArray.map(value => {
                        value.addEventListener('click',event =>{
                            curCategory = event.currentTarget.dataset.dir;
                            location.hash = event.currentTarget.dataset.dir;                            
                        });
                    });
                
                }
                
                const renderHTML = data => {
                
                    if(!data){
                        document.getElementById('coding-list').innerHTML = `
                            <div class="nodata" style="text-align: center;font: 700 16px 'NotoSansKR';color: #000;">데이터가 없습니다.</div>
                        `;
                        $('.utilbox').addClass('fixed');
                        return false;
                    }
                    
                    let htmlString = `<div class="title">${data.path}</div>`;
                
                
                    const absolutePath = data.path;
                    const key = absolutePath.replace(/^\/$/,'root').replace(/^\//g,'root___').replace(/\//,'___');
                    
                    if(data['folderData']){
                        data['folderData'].map((value , index) => {
                        
                            htmlString += `
                                <div class="col_box dir_col">
                                    <ul>
                                        <li class="name dir"><a href="javascript:void(0)" data-dir="${key[key.length-1] === 't' ? key + '___' + value.name : key + value.name}" title="${value.name}">${value.name}</a></li>
                                        <li class="desc">${value.desc ? value.desc : ''}</li>
                                        <li class="modify"><input type="text" id="${key[key.length-1] === 't' ? key+'___'+value.name.replace(/\.html/,'') : key + value.name.replace(/\.html/,'')}" value="${value.desc ? value.desc : ''}" data-key="${key.replace(/___$/,'').replace(/\/$/,'')}" data-index="${index}" data-isdir="true"></li>
                                    </ul>
                                </div> 
                            `;
                        });
                    }
                
                    if(data['htmlData']){
                        
                        data['htmlData'].map((value , index) => {
                            const key = absolutePath.replace(/^\/$/,'root').replace(/^\//,'root___').replace(/\//,'___');
                            htmlString += `
                                <div class="col_box">
                                    <ul>
                                        <li class="name">
                                            <a href="javascript:void(0)" onclick="changeContets('${absPath + absolutePath.replace(/root_/,'/') +'/'+ value.name }' , this)">${value.name}</a>
                                            <a href="${absPath + absolutePath.replace(/root_/,'/') +'/'+ value.name }" style="margin-left:6px;" target="_blank"><img src="/images/ico_new_window.png" alt="새창" title="새창"/></a>
                                        </li>
                                        <li class="desc">${value.desc ? value.desc : ''}</li>
                                        <li class="modify"><input type="text" id="${key+'___'+value.name.replace(/\.html/,'')}" value="${value.desc ? value.desc : ''}" data-key="${key.replace(/___$/,'').replace(/\/$/,'')}" data-index="${index}"></li>
                                    </ul>
                                </div>
                            `;
                        });
                    }
                
                    htmlString += `</div>`;
                    document.getElementById('coding-list').innerHTML = htmlString;
                    bindEvent();
                };
                
                
                const renderSearch = data => {                    
                    let key;
                    let htmlString = `
                        <div class="search_result">
                            <div class="search_title">검색결과 입니다.</div>
                    `;
                    const absPath = '/public/html/';
                    for(key in data){
                        if(key == 'length'){
                            continue;
                        }
                        if(data[key].type == 'folder'){
                            
                            htmlString += `
                                <div class="col_box dir_col">
                                    <ul>
                                        <li class="name dir">
                                            <a href="javascript:void(0)" data-dir="${data[key].originName}">${data[key].name}</a>
                                        </li>
                                        
                                        ${data[key].desc ? `<li class="desc">${data[key].desc}</li>` : ''}
                                        <li class="modify">
                                            <input type="text" id="${data[key].originName.replace(/\.html/,'')}" value="${data[key].desc ? data[key].originDesc : ''}" data-key="${data[key].originName.replace(/___$/,'').replace(/\/$/,'')}">
                                        </li>
                                    </ul>
                                </div>
                            `;
                        }else{
                            htmlString += `    <div class="title">${ key.replace(/^root$/g,'/').replace(/^root___/g,'/').replace(/___/g,'/') }</div>`;
                            data[key].htmlData.map((htmlObj , index) => {
                                htmlString += `
                                    <div class="col_box">
                                        <ul>
                                            <li class="name">
                                                <a href="javascript:void(0)" onclick="changeContets('${absPath + key.replace(/^root$/g,'/').replace(/^root___/g,'/').replace(/___/g,'/')+'/' + htmlObj.originName }' , this);">${htmlObj.name}</a>
                                                <a href="${absPath + key.replace(/^root$/g,'/').replace(/^root___/g,'/').replace(/___/,'/') + '/' + htmlObj.originName }" style="margin-left:6px;" target="_blank"><img src="/images/ico_new_window.png" alt="새창" title="새창"/></a>
                                            </li>
                                            <li class="desc">${htmlObj.desc ? htmlObj.desc : ''}</li>
                                            <li class="modify">
                                                <input type="text" id="${key+'___'+htmlObj.originName.replace(/\.html/,'')}" value="${htmlObj.desc ? htmlObj.desc : ''}" data-key="${key.replace(/___$/,'').replace(/\/$/,'')}" data-index="${index}">
                                            </li>
                                        </ul>
                                    </div>
                                `;
                            });
                        }
                        
                    }
                    htmlString += '</div>';
            
                    document.getElementById('coding-list').innerHTML = htmlString;
                    $('.utilbox').addClass('fixed');
                    
                    
                    [...document.querySelectorAll('.name.dir>a')].map(value => {
                        value.addEventListener('click',event =>{
                            curCategory = event.currentTarget.dataset.dir;
                            location.hash = event.currentTarget.dataset.dir;                            
                        });
                    });
                    
                    $('.utilbox').removeClass('fixed').css({
                        top : 0 
                    })
                }
                
                const startDragGrid = event => {
                    event.preventDefault();
                    const dummyDiv = document.createElement('div');
                    dummyDiv.setAttribute('id','dragHandleCover');
                    window.addEventListener('mousemove',moveDragGrid);
                    window.addEventListener('mouseup',endDragGrid);
                    document.querySelector('body').appendChild(dummyDiv);
                };
                
                const moveDragGrid = event => {
                    event.preventDefault();
                
                    const minX = 200;
                    const maxX = 800;
                    const x = event.pageX;
                
                    if(x > minX && x < maxX){
                        document.getElementById('left-area').style.width = x+'px';
                        document.getElementById('right-area').style.paddingLeft = x+'px';
                    }
                };
                
                const endDragGrid = event => {
                    event.preventDefault();
                    const dummyDiv = document.getElementById('dragHandleCover');
                    document.querySelector('body').removeChild(dummyDiv);
                
                    window.removeEventListener('mousemove',moveDragGrid);
                    window.removeEventListener('mouseup',endDragGrid);
                };
                
                document.getElementById('dragHandle').addEventListener('mousedown',startDragGrid);
                
                $.ajax({
                   url: jsonfilePath+jsonfileName,
                   dataType : 'json',
                   beforeSend : function(){
                       $('body').append('<div id="loading" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:100;background:rgba(255,255,255,0.7)"><span style="position:absolute;top:50%;left:50%;width:100px;height:30px;font-size:12px;line-height:30px;margin:-15px 0 0 -50px;text-align:center;">Loading...</span></div>')
                   },
                   success:function(result){
                        $('#loading').remove();
                        console.log(result);
                        //- htmlData = handleData(result);
                        htmlData = result;
                        setHash();
                   },
                   error:function(e){
                       $('#wrap').html('<div class="nodata">데이터를 로드 할 수 없습니다.</div>');
                       $('#loading').remove();
                   }
                });
    
                $('#left-area').bind('scroll',function(event){
                    var triggerPoint = $(this).find('.wrapper .title').offset().top;
                    var defaultVal = 125;
               
                    if($(this).scrollTop() > 125){
                        $(this).find('.utilbox').addClass('fixed').css({
                            top : $(this).scrollTop()
                        })
                    }else{
                        $(this).find('.utilbox').removeClass('fixed').css({
                            top : 0 
                        })
                    }
                });
                
                const searchModule = {
                    init (keyword){
                        var allData = htmlData;
                        var resultArray = [];

                        const searchInit = keyword => {
                            var findCtgrLength = 2;
                            var newArray = [];
                            var i = 0;
                            var count = 0;
                            var path;

                            if(keyword == ''){
                                
                                setTimeout(() => {
                                    setHash();
                                },200)
                            
                            }else{
                                for(key in htmlData){
                                    path = htmlData[key].path;
                                    
                                    var newKey = key.replace(/^root$/g,'/').replace(/^root___/g,'/').replace(/___/,'/');
                                    var pkgNameKeyword = searchKeyword(newKey,keyword);
                                    var pkgDescKeyword = htmlData[key].desc == undefined ? undefined : searchKeyword(htmlData[key].desc,keyword);
                                    
                                    
                                    
                                    
                                    if(pkgNameKeyword || pkgDescKeyword){
                                        newArray.push({
                                            type : 'folder',
                                            originName : key,
                                            name :pkgNameKeyword ? pkgNameKeyword : newKey,
                                            path : path,
                                            desc : !!pkgDescKeyword ? pkgDescKeyword : htmlData[key].desc,
                                            originDesc : htmlData[key].desc == undefined ? '' : htmlData[key].desc
                                            
                                        });
                                    }
                                    
                                    if(htmlData[key].htmlData){
                                        for(var i = 0; i < htmlData[key].htmlData.length; i++){
                                            var nameKeyword = searchKeyword(htmlData[key].htmlData[i].name,keyword);
                                            var descKeyword = htmlData[key].htmlData[i].desc == undefined ? false : searchKeyword(htmlData[key].htmlData[i].desc,keyword);
                                            
                                            if(nameKeyword || descKeyword){
                                                newArray.push({
                                                    originName : htmlData[key].htmlData[i].name,
                                                    name :!nameKeyword ? htmlData[key].htmlData[i].name : nameKeyword,
                                                    path : path,
                                                    desc : !!descKeyword ? descKeyword : htmlData[key].htmlData[i].desc,
                                                    originDesc : htmlData[key].htmlData[i].desc
                                                    
                                                });
                                            }
                                        }
                                    }
                                }
                            }
                            
                            return refactoringDataForSearch(newArray);
                        }
                        /* searchInit function END */

                        const searchKeyword = (targetStr , keywordStr) => {
                            var keywordArray = keywordStr.split('');
                            var targetArray = targetStr.split('');
                            var index = 0;
                            var length = keywordArray.length;
                            var counter = 0;
                            var resultIndexArray = [];

                            for(; index < targetArray.length; index++){
                                if(targetArray[index].toLowerCase() == keywordArray[counter].toLowerCase()){
                                    counter += 1;
                                    resultIndexArray.push(index);

                                    if(counter == length){
                                        if(keywordStr.length > 1){
                                            targetArray[resultIndexArray[0]] = '<span class="keyword">'+targetArray[resultIndexArray[0]];
                                            targetArray[resultIndexArray[resultIndexArray.length-1]] = targetArray[resultIndexArray[resultIndexArray.length-1]]+'</span>';
                                        }else{
                                            targetArray[resultIndexArray[0]] = '<span class="keyword">'+targetArray[resultIndexArray[0]]+'</span>';
                                        }

                                        return targetArray.join('');
                                    }
                                }else{
                                    counter = 0;
                                    resultIndexArray = [];
                                }
                            }

                            return false;
                        }
                        /* searchKeyword function END */
                        
                        
                        const refactoringDataForSearch = arr =>{
                            if(arr.length == 0){
                                return [];
                            }
                        
                            var i = 0;
                            var newObj = {
                                length : arr.length
                            };
                            
                            
                            for(i; i < arr.length; i++){
                                var ctgrKey = arr[i].path.replace(/^\/$/,'root').replace(/\/$/,'').replace(/^\//g,'root___').replace(/\//g,'___');                                
                                if(arr[i].type !== 'folder'){
                                    if(!newObj[ctgrKey]){
                                        newObj[ctgrKey] = {
                                            name : arr[i].name,
                                            originName : arr[i].originName,
                                            desc : arr[i].desc,
                                            originDesc : arr[i].originDesc,
                                            type : arr[i].type ? arr[i].type : '',
                                            path : ctgrKey.replace(/^root___/g,'/').replace(/___/g,'/')+'/',
                                            htmlData : []
                                        };                                    
                                    }
                                    
                                    newObj[ctgrKey].htmlData.push(arr[i]);
                                }
                            }
                            
                                
                            i = 0;
                            for(i; i < arr.length; i++){
                                if(arr[i].type === 'folder'){
                                    var ctgrKey = 'folder_'+arr[i].path.replace(/^\/$/,'root').replace(/\/$/,'').replace(/^\//g,'root___').replace(/\//g,'___');                       
                                                              
                                    if(!newObj[ctgrKey]){
                                        newObj[ctgrKey] = {
                                            name : arr[i].name,
                                            originName : arr[i].originName,
                                            desc : arr[i].desc,
                                            originDesc : arr[i].originDesc,
                                            type : arr[i].type ? arr[i].type : '',
                                            path : ctgrKey.replace(/^root___/g,'/').replace(/___/g,'/')+'/',
                                            htmlData : []
                                        };                                    
                                    }
                                    newObj[ctgrKey].htmlData.push(arr[i]);
                                }
                            }
                            
                            return newObj;                            
                        } 
                        /* refactoringDataForSearch function END */

                        var newArr = searchInit(keyword);

                        if(newArr.length > 0){
                            renderSearch(newArr);
                        }else{
                            $('.utilbox').addClass('fixed');
                            document.getElementById('coding-list').innerHTML = `
                                <div class="nodata" style="text-align: center;font: 700 16px 'NotoSansKR';color: #000;">검색 결과가 없습니다.</div>
                            `;
                        }
                    },
                    timer : '',
                    bindEvent(event){
                        var init = this.init;
                        var keyword = $(event.currentTarget).val();
                        this.keyword = $(event.currentTarget).val();
                        clearTimeout(this.timer);
                        this.timer = setTimeout(function(){
                            init(keyword);
                        },200);
                    }
                };
                            
            
                document.getElementById('search-html').addEventListener('keyup' , event =>{
                    searchModule.bindEvent(event)
                })
                
                if(window.location.hostname == 'localhost'){
                    $('.button_area').show();
                }else{
                    $('.button_area').remove();
                }
                
                $('#toggle-mode').bind('click',function(){
                    if(window.location.hostname == 'localhost'){
                        if($('.search_result').length <= 0){
                            if($(this).hasClass('edit')){
                                $(this).removeClass('edit');
                                $('#submit-data').hide();
                                $('#wrapper').removeClass('edit-mode');
                                $(this).find('span').text('수정 하기');
                            }else{
                                $(this).addClass('edit');
                                $('#submit-data').show();
                                $('#wrapper').addClass('edit-mode');
                                $(this).find('span').text('취소');
                            }
                        }
                    }
                });
            
                $('#submit-data').bind('click',function(){
                    if(window.location.hostname == 'localhost'){
                        submitInfo();
                    }
                });
